<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
    integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
    integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.2-web/css/all.min.css" rel="stylesheet">
</head>

<body>

  <div class="container-fluid px-0">
    <!-- header -->
    <header>
      <nav class="navbar navbar-expand-lg csheader zdex">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand ms-md-3 ms-lg-0" href="#"><img src="img/logo.png" alt=""></a>
          <div class="collapse navbar-collapse order-3 order-lg-2 text-bg-light" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item p-2">
                <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link" href="#">Về chúng tôi</a>
              </li>
              <li class="nav-item p-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Sản phẩm
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link " href="#">Sale</a>
              </li>
              <li class="nav-item p-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Tin tức
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link " href="#">Liên hệ</a>
              </li>
            </ul>
            <form class="d-flex me-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 order-2 order-lg-3">
            <li class="nav-item p-2">
              <a class="text-decoration-none" href="#"><i class="bi bi-heart me-4 position-relative">
                  <span class="position-absolute top-0 start-80 translate-middle badge rounded-pill bg-primary fs-7">
                    9
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </i></a>
                <a class="text-decoration-none" href="#offcanvasRight" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-bag me-2  position-relative">
                  <span class="position-absolute top-0 start-80 translate-middle badge rounded-pill bg-primary fs-7">
                    10
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </i></a>
              <a href="#"><i class="bi bi-person-circle"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container top-90">
      <nav data-mdb-navbar-init class="navbar navbar-expand-lg bg-body-tertiary mb-4">
  <div class="container-fluid d-flex align-content-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb align-items-center mb-0">
        <li class="breadcrumb-item"><a href="#"><i class=" fs-5 bi-house-door-fill"></i>Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a class="fs-6 text-primary" href="#">Đơn hàng của
            bạn</a>
        </li>
      </ol>
    </nav>
  </div>
</nav>
<!-- main -->
<div class="main">
  <div class="row justify-content-between mb-5">
    <div class="col-lg-6 col-12 ps-6">
      <div class="row">
        <div class="col-2"><img class="w-100" src="img/correct.png" alt=""></div>
        <div class="col-10">
          <strong class="fs-5">Cảm ơn bạn đã đặt hàng</strong>
          <div class="bill-title mt-1 fs-6_5">
            Một email xác nhận đã được gửi tới quochoc2763@gmail.com <br>
            Xin vui lòng kiểm tra email của bạn
          </div>
        </div>
      </div>
      <div class="row mt-4 border">
        <div class="row p-3">
          <div class="col-6">
            <div class="fs-5">Thông tin mua hàng</div>
            <div class="fs-6_5 text-gray pt-1">Nguyễn Quốc Học</div>
            <div class="fs-6_5 text-gray pt-2">quochoc2763@gmai.com</div>
            <div class="fs-6_5 text-gray pt-2">0384783748</div>
          </div>
          <div class="col-6">
            <div class="fs-5">Địa chỉ nhận hàng</div>
            <div class="fs-6_5 text-gray pt-1">Thôn 4 - Bình Nghi - Tây Sơn - Bình Định</div>
            <div class="fs-6_5 text-gray pt-2">0384783748</div>
          </div>
        </div>
        <div class="row p-3">
          <div class="col-6">
            <div class="fs-5">Phương thức thanh toán</div>
            <div class="fs-6_5 text-gray pt-1">Nhận hàng trực tiếp</div>
          </div>
          <div class="col-6">
            <div class="fs-5">Phương thức vận chuyển</div>
            <div class="fs-6_5 text-gray pt-1">Giao hàng tận nơi</div>
          </div>
        </div>
      </div>
      <a class="btn text-light btn-primary hvbg mt-3 end-0" href="#!">Tiếp tục mua hàng</a>
    </div>
    <div class="col-lg-4 col-12 me-6 end-0 bg-lightgray rounded-3">
      <div class="your-order">
        <h4 class="text-uppercase text-primary fw-bold mt-3">Đơn hàng của bạn</h4>
        <div class="p-3 table-responsive">
          <div ng-repeat="cart in billscart[0]" class="row py-3 ng-scope border-bottom border-top">
            <div class="col-3">
              <img class="w-75" src="img/aothu1.png" alt="">
            </div>
            <div class="col-9">
              <div class="row">
                <div class="title-name ng-binding">Áo thun mùa hè</div>

              </div><br>
              <div class="total hstack justify-content-between">
                <div class="sl">Số lượng: <strong class="">8</strong></div>
                <div class="title ng-binding">3,674,000đ</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3 py-3 ng-scope border-bottom">
        <div class="py-1 hstack justify-content-between">
          <div class="text-total">Tạm tính:</div>
          <div class="price-tt">3,674,000đ</div>
        </div>
        <div class="py-1 hstack justify-content-between">
          <div class="text-total">Phí vận chuyển:</div>
          <div class="price-tt">40,000đ</div>
        </div>
      </div>
      <div class="py-1 hstack justify-content-between pb-3">
        <div class="text-total fs-4">Tổng cộng:</div>
        <div class="price-tt fs-4 fw-bold text-primary">3,704,000đ</div>
      </div>
    </div>
  </div>
</div>
</div>
<footer class="footer text-sm-center text-lg-start ">
  <div class="mid-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 ft-logo row text-center pt-5 pb-3">
          <a href="/" class="logo" title="Logo">
            <img src="img/logo-ft.png" alt="">
          </a>
        </div>
        <div class="col-12 col-lg-4 ft-info ">
          <h4 class="title-menu fs-5_5 text-uppercase fw-bold text-white mt-2">Thông tin</h4>
          <div class="group-address ">
            <ul class="p-0 abage">
              <li class="mt-3">
                <span class="">Chúng tôi luôn trân trọng và mong đợi nhận được mọi ý kiến đóng góp từ khách hàng để
                  có thể nâng
                  cấp trải nghiệm dịch vụ và sản phẩm tốt hơn nữa.</span>
              </li>
              <li>
                <i class="bi bi-geo-fill text-white"></i>
                <span>70 Lữ Gia, Phường 15, Quận 11, TP. HCM</span>
              </li>
              <li>
                <i class="bi bi-telephone text-white"></i>
                <span>1900 6750</span>
              </li>
              <li>
                <i class="bi bi-send text-white"></i>
                <a class="" title="support@sapo.vn" href="mailto:support@sapo.vn">support@sapo.vn</a>
              </li>
            </ul>
          </div>
          <span style="    margin-bottom: 10px;  display: block;">Folower chúng tôi:</span>
          <ul
            class="social d-flex ps-0 gap-2 justify-content-sm-center justify-content-xl-start justify-content-lg-start">
            <li><a href="#"><img width="32" height="32" src="img/social1.png" alt=""></a></li>
            <li><a href="#"><img width="32" height="32" src="img/social2.png" alt=""></a></li>
            <li><a href="#"><img width="32" height="32" src="img/social3.png" alt=""></a></li>
            <li><a href="#"><img width="32" height="32" src="img/social4.png" alt=""></a></li>
            <li><a href="#"><img width="32" height="32" src="img/social5.png" alt=""></a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-5 ft-menu">
          <div class="row">
            <div class="col-12 col-sm-6 link-list col-footer footer-click">
              <h4 class="title-menu title-menu2 fs-5_5 text-uppercase fw-bold text-white">
                Chính sách
                <i class="open_mnu down_icon"></i>
              </h4>
              <ul class="list-menu hidden-mobile abage p-0">
                <li><a href="/" title="Chính sách thành viên">Chính sách thành viên</a></li>
                <li><a href="/" title="Chính sách vận chuyển">Chính sách vận chuyển</a></li>
                <li><a href="/" title="Chăm sóc khách hàng">Chăm sóc khách hàng</a></li>
                <li><a href="/" title="Phương thức thanh toán">Phương thức thanh toán</a></li>
                <li><a href="/" title="Chính sách đổi trả / bảo hành">Chính sách đổi trả / bảo hành</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 link-list col-footer footer-click">
              <h4 class="title-menu title-menu2 fs-5_5 text-uppercase fw-bold text-white">
                Hướng dẫn
                <i class="open_mnu down_icon"></i>
              </h4>
              <ul class="list-menu hidden-mobile abage p-0">
                <li><a href="" title="Denny Member">Denny Member</a></li>
                <li><a href="" title="Mua hàng dễ dàng">Mua hàng dễ dàng</a></li>
                <li><a href="" title="Hợp tác nhượng quyền">Hợp tác nhượng quyền</a></li>
                <li><a href="" title="Hướng dẫn mua hàng online">Hướng dẫn mua hàng
                    online</a></li>
                <li><a href="#" title="Hướng dẫn kiểm tra hạng thẻ thành viên">Hướng dẫn kiểm tra hạng thẻ thành
                    viên</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <h4 class="title-menu fs-5_5 text-uppercase fw-bold text-white mt-2">
            Đăng ký nhận tin
          </h4>
          <form id="mc-form" class="newsletter-form position-relative pb-4" data-toggle="validator"
            novalidate="true">
            <input aria-label="Địa chỉ Email" type="email" class="form-control" placeholder="Nhập địa chỉ email">
            <button class="btn btn-default position-absolute top-0 end-0" type="submit"
              aria-label="Đăng ký nhận tin" name="subscribe">
              <i class="bi bi-envelope text-white pb-2"></i>
            </button>
          </form>
          <span style=" margin-bottom: 10px;  display: block;">Hình thức thanh toán:</span>
          <ul
            class="thanhtoan d-flex ps-0 gap-2 justify-content-sm-center justify-content-xl-start justify-content-lg-start">
            <li><img width="57" height="35" src="img/payment_1.png"></li>
            <li><img width="57" height="35" src="img/payment_2.png"></li>
            <li><img width="57" height="35" src="img/payment_3.png"></li>
          </ul>
          <span style="margin-bottom: 10px;  display: block;margin-top: 20px;">Liên kết sàn:</span>
          <ul
            class="social d-flex ps-0 gap-2 justify-content-sm-center justify-content-xl-start justify-content-lg-start">
            <li><a href="#" title="Shopee"><img width="32" height="32" src="img/san1.png"> </a></li>
            <li><a href="#" title="Shopee"><img width="32" height="32" src="img/san2.png"> </a></li>
            <li><a href="#" title="Shopee"><img width="32" height="32" src="img/san3.png"> </a></li>
            <li><a href="#" title="Shopee"><img width="32" height="32" src="img/san4.png"> </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="copyright" class="copyright">
    <div class="container text-center">
      <span class="copy-right">Bản quyền thuộc về <b>Sudes theme</b>.</span>
      <span class="opacity1">
        Clone bởi: PS28717
      </span>
    </div>
  </div>
</footer>