<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
    integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
    integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.2-web/css/all.min.css" rel="stylesheet">
</head>

<body>

  <div class="container-fluid px-0">
    <!-- header -->
    <header>
      <nav class="navbar navbar-expand-lg csheader zdex">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand ms-md-3 ms-lg-0" href="#"><img src="img/logo.png" alt=""></a>
          <div class="collapse navbar-collapse order-3 order-lg-2 text-bg-light" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item p-2">
                <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link" href="#">Về chúng tôi</a>
              </li>
              <li class="nav-item p-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Sản phẩm
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link " href="#">Sale</a>
              </li>
              <li class="nav-item p-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Tin tức
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link " href="#">Liên hệ</a>
              </li>
            </ul>
            <form class="d-flex me-auto" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 order-2 order-lg-3">
            <li class="nav-item p-2">
              <a class="text-decoration-none" href="#"><i class="bi bi-heart me-4 position-relative">
                  <span class="position-absolute top-0 start-80 translate-middle badge rounded-pill bg-primary fs-7">
                    9
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </i></a>
                <a class="text-decoration-none" href="#offcanvasRight" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-bag me-2  position-relative">
                  <span class="position-absolute top-0 start-80 translate-middle badge rounded-pill bg-primary fs-7">
                    10
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </i></a>
              <a href="#"><i class="bi bi-person-circle"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container top-90">
<!-- nav danh mục trang -->
<nav data-mdb-navbar-init class="navbar navbar-expand-lg bg-body-tertiary mb-4">
  <div class="container-fluid d-flex align-content-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb align-items-center mb-0">
        <li class="breadcrumb-item"><a href="#"><i class=" fs-5 bi-house-door-fill"></i>Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a class="fs-6 text-primary" href="#">Thông tin của
            bạn</a>
        </li>
      </ol>
    </nav>
  </div>
</nav>
<!-- main -->
<div class="main">
  <div class="row mb-5 justify-content-around">
    <div class="d-flex gap-2 align-content-center">
      <div class="col-3">
        <div class="px-4 h-100 w-90 py-5 nav flex-column nav-pills me-3 bg-lightgray p2 rounded-2 border-1"
          id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link hstack gap-3 mb-1 active" id="v-pills-home-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i
              class=" fs-5 bi bi-info-square-fill"></i>Thông tin</button>
          <button class="nav-link hstack gap-3 mb-1" id="v-pills-profile-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
            aria-selected="false"><i class="fs-5 bi bi-cart4"></i>Đơn hàng</button>
          <button class="nav-link hstack gap-3 mb-1" id="v-pills-disabled-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled"
            aria-selected="false"><i class="fs-5 bi bi-person-fill-gear"></i>Cập nhật thông tin</button>
          <button class="nav-link hstack gap-3 mb-1" id="v-pills-messages-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
            aria-selected="false"><i class="bi fs-5 bi-sliders"></i>Cài đặt</button>
          <button class="nav-link hstack gap-3 mb-1" id="v-pills-settings-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
            aria-selected="false"><i class="bi fs-5 bi-box-arrow-in-right"></i>Đăng xuất</button>
        </div>
      </div>
      <div class="col-9 w-75 h-100 rounded-3 bg-lightgray">
        <div class=" tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
            tabindex="0">
            <div class=" main pb-5 px-4">
              <h2 class="text-primary fs-4 fw-bold text-uppercase pt-3 mb-3 border-bottom">Thông tin của bạn</h2>
              <div class="row pt-3">
                <div class="col-3 fw-bold">Ảnh của bạn</div>
                <div class="col-7 " style="width: 150px;height: 150px;">
                  <img style="border-radius: 50%; border: 1px solid;" 
                    class="w-100" src="img/user1.png" alt="">
                </div>
              </div>
              <div class="hstack loginregit gap-5 ">
                <div class="col-2 d-flex fw-bold">Name</div>
                <div class="col-7"><input class="form-control" disabled  type="text"
                    name="" id=""></div>
              </div>
              <div class="hstack loginregit gap-5 ">
                <div class="col-2 d-flex fw-bold">Số điện thoại</div>
                <div class="col-7"><input class="form-control" disabled type="text"
                    name="" id=""></div>
              </div>
              <div class="hstack loginregit gap-5 ">
                <div class="col-2 d-flex fw-bold">Email</div>
                <div class="col-7"><input class="form-control" disabled type="text"
                    name="" id=""></div>
              </div>
              <div class="hstack loginregit gap-5 align-items-start ">
                <div class="col-2 d-flex fw-bold">Địa chỉ</div>
                <div class="col-7"><input class="form-control" disabled type="text"
                    name="" id="">
                  <div ng-if="!matchedUsers[0].address" class="fs-6_5 alert alert-danger">Tài khoản của bạn hiện chưa có
                    địa
                    chỉ vui lòng cập nhật ở phần cập nhật
                    thông tin.</div>
                </div>
              </div>

              <div class="mt-5 text-center">Hãy đăng ký thành viên premium để có nhiều ưu đãi từ chúng tôi tại đây
              </div>
              <p class="d-flex mt-2 justify-content-around text-end">
                <a class="btn btn-primary end-0 text-light" href="">Đăng ký ngay</a>
              </p>
            </div>
          </div>
          <div class="tab-pane fade " id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
            tabindex="0">
            <div class="main pb-5 px-4">
              <h2 class="text-primary fs-4 fw-bold text-uppercase pt-3 mb-3 border-bottom">Đơn hàng của bạn</h2>
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr class="text-center">
                      <th>Mã</th>
                      <th>Khách hàng</th>
                      <th style="
                      width: 200px;
                  ">Đơn hàng</th>
                      <th>Tổng số lượng</th>
                      <th>Tổng tiền</th>
                      <th>Tình trạng</th>
                      <th style="
                      width: 132px;">Chức năng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat=" bill in getUserbill">
                      <td>873</td>
                      <td>quochoc</td>
                      <td class="text-start fs-6_5">
                        Áo thun mùa đông
                      </td>
                      <td class="text-primary fw-bold">87</td>
                      <td>987,000đ</td>
                      <!-- <td><button ng-disabled="true" type="button"
                          ng-class="{'btn-primary':bill.status==='Chờ xử lý','btn-info':bill.status==='Đang giao hàng','btn-success':bill.status==='Đơn hàng đã giao','btn-info':bill.status==='Đang giao hàng', 'btn-warning':bill.status==='Huỷ đơn hàng','btn-danger':bill.status==='Đơn hàng đã huỷ'}"
                          class="badge btn">{{bill.status}}</button>
                      </td> -->
                      <td><button  type="button"
                          class="badge btn btn-info">Đang giao hàng</button>
                      </td>

                      <td class="" width="40px">
                        <button ng-click="detailBill(bill.id)" class="btn btn-warning btn-sm edit" type="button"
                          title="Chi tiết" id="show-emp" data-bs-toggle="modal" data-bs-target="#modalDonhang"><i
                            class="text-light fs-5 p-1 fa-solid fa-circle-info"></i></button>
                        <button ng-click="cancelBill( bill.status,bill.id)" class="btn btn-danger btn-sm edit"
                          type="button" title="Xoá" id="show-emp" data-toggle="modal" data-target="#modalDonhang"><i
                            class="text-light fs-5  p-1 fa-solid fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab"
            tabindex="0">
            <form ng-submit="editUsersss()" novalidate class="was-validated">
              <div class=" main pb-5 px-4">
                <h2 class="text-primary fs-4 fw-bold text-uppercase pt-3 mb-3 border-bottom">Cập nhật thông tin của bạn
                </h2>
                <div class="row pt-3">
                  <div class="col-3 fw-bold">Ảnh của bạn</div>
                  <div class="col-7  " style="width: 150px;height: 150px;">
                    <img  style="border-radius: 50%; border: 1px solid;"
                      class="w-100" src="img/user1.png" alt="">
                  </div>

                </div>
                <div class="row py-2">
                  <div class="col-3"></div>
                  <div class="col-7"><input class="pt" type="file" name=""
                      onchange="angular.element(this).scope().handleFileSelect(this)" accept="image/*" id=""></div>
                </div>
                <div class="hstack loginregit gap-5 ">
                  <div class="col-2 d-flex fw-bold">Name</div>
                  <div class="col-7"><input class="form-control" ng-model="matchedUsers[0].name" type="text" name=""
                      id="" required></div>
                </div>
                <div class="hstack loginregit gap-5 ">
                  <div class="col-2 d-flex fw-bold">Số điện thoại</div>
                  <div class="col-7"><input class="form-control" ng-model="matchedUsers[0].phone" type="text" name=""
                      id="" pattern="(84|0[35789])[0-9]{8}\b" required>
                    <div class="invalid-feedback mb-1 start-0">Vui lòng bắt đầu từ 0 gồm 10 số !</div>
                  </div>
                </div>
                <div class="hstack loginregit gap-5 ">
                  <div class="col-2 d-flex fw-bold">Email</div>
                  <div class="col-7"><input class="form-control" type="text" ng-model="matchedUsers[0].email" name=""
                      id="" required>
                    <div class="invalid-feedback mb-1 start-0">Vui lòng nhập đúng định dạng email !</div>
                  </div>
                </div>
                <div class="hstack loginregit gap-5 ">
                  <div class="col-2 d-flex fw-bold">Địa chỉ</div>
                  <div class="col-7"><input class="form-control" type="text" ng-model="matchedUsers[0].address" name=""
                      id="" required></div>
                </div>
                <div class="hstack loginregit gap-5 ">
                  <div class="col-2 d-flex fw-bold">Mật khẩu</div>
                  <div class="col-7"><input class="form-control" type="password" ng-model="matchedUsers[0].password"
                      name="" id="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                      required>
                    <div class="invalid-feedback mb-1 start-0">Có chữ hoa, chữ thường, kí tự đặt biệt và ít nhất 8 ký
                      tự!
                    </div>
                  </div>
                </div>
                <div class="hstack justify-content-end gap-3 me-7 mt-4 pe-5">
                  <button class="btn btn-success px-4" type="submit">Lưu lại</button>
                  <div class="btn btn-danger">Huỷ bỏ</div>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"
            tabindex="0">..dsfdfsfd.</div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"
            tabindex="0">..sac.</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<footer class="footer text-sm-center text-lg-start ">
  <div class="mid-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 ft-logo row text-center pt-5 pb-3">
          <a href="/" class="logo" title="Logo">
            <img src="img/logo-ft.png" alt="">
          </a>
        </div>
        <div class="col-12 col-lg-4 ft-info ">
          <h4 class="title-menu fs-5_5 text-uppercase fw-bold text-white mt-2">Thông tin</h4>
          <div class="group-address ">
            <ul class="p-0 abage">
              <li class="mt-3">
                <span class="">Chúng tôi luôn trân trọng và mong đợi nhận được mọi ý kiến đóng góp từ khách hàng để
                  có thể nâng
                  cấp trải nghiệm dịch vụ và sản phẩm tốt hơn nữa.</span>
              </li>
              <li>
                <i class="bi bi-geo-fill text-white"></i>
                <span>70 Lữ Gia, Phường 15, Quận 11, TP. HCM</span>
              </li>
              <li>
                <i class="bi bi-telephone text-white"></i>
                <span>1900 6750</span>
              </li>
              <li>
                <i class="bi bi-send text-white"></i>
                <a class="" title="support@sapo.vn" href="mailto:support@sapo.vn">support@sapo.vn</a>
              </li>
            </ul>
          </div>
          <span style="    margin-bottom: 10px;  display: block;">Folower chúng tôi:</span>
          <ul
            class="social d-flex ps-0 gap-2 justify-content-sm-center justify-content-xl-start justify-content-lg-start">
            <li><a href="#"><img width="32" height="32" src="img/social1.png" alt=""></a></li>
            <li><a href="#"><img width="32" height="32" src="img/social2.png" alt=""></a></li>
            <li><a href="#"><img width="32" height="32" src="img/social3.png" alt=""></a></li>
            <li><a href="#"><img width="32" height="32" src="img/social4.png" alt=""></a></li>
            <li><a href="#"><img width="32" height="32" src="img/social5.png" alt=""></a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-5 ft-menu">
          <div class="row">
            <div class="col-12 col-sm-6 link-list col-footer footer-click">
              <h4 class="title-menu title-menu2 fs-5_5 text-uppercase fw-bold text-white">
                Chính sách
                <i class="open_mnu down_icon"></i>
              </h4>
              <ul class="list-menu hidden-mobile abage p-0">
                <li><a href="/" title="Chính sách thành viên">Chính sách thành viên</a></li>
                <li><a href="/" title="Chính sách vận chuyển">Chính sách vận chuyển</a></li>
                <li><a href="/" title="Chăm sóc khách hàng">Chăm sóc khách hàng</a></li>
                <li><a href="/" title="Phương thức thanh toán">Phương thức thanh toán</a></li>
                <li><a href="/" title="Chính sách đổi trả / bảo hành">Chính sách đổi trả / bảo hành</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 link-list col-footer footer-click">
              <h4 class="title-menu title-menu2 fs-5_5 text-uppercase fw-bold text-white">
                Hướng dẫn
                <i class="open_mnu down_icon"></i>
              </h4>
              <ul class="list-menu hidden-mobile abage p-0">
                <li><a href="" title="Denny Member">Denny Member</a></li>
                <li><a href="" title="Mua hàng dễ dàng">Mua hàng dễ dàng</a></li>
                <li><a href="" title="Hợp tác nhượng quyền">Hợp tác nhượng quyền</a></li>
                <li><a href="" title="Hướng dẫn mua hàng online">Hướng dẫn mua hàng
                    online</a></li>
                <li><a href="#" title="Hướng dẫn kiểm tra hạng thẻ thành viên">Hướng dẫn kiểm tra hạng thẻ thành
                    viên</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <h4 class="title-menu fs-5_5 text-uppercase fw-bold text-white mt-2">
            Đăng ký nhận tin
          </h4>
          <form id="mc-form" class="newsletter-form position-relative pb-4" data-toggle="validator"
            novalidate="true">
            <input aria-label="Địa chỉ Email" type="email" class="form-control" placeholder="Nhập địa chỉ email">
            <button class="btn btn-default position-absolute top-0 end-0" type="submit"
              aria-label="Đăng ký nhận tin" name="subscribe">
              <i class="bi bi-envelope text-white pb-2"></i>
            </button>
          </form>
          <span style=" margin-bottom: 10px;  display: block;">Hình thức thanh toán:</span>
          <ul
            class="thanhtoan d-flex ps-0 gap-2 justify-content-sm-center justify-content-xl-start justify-content-lg-start">
            <li><img width="57" height="35" src="img/payment_1.png"></li>
            <li><img width="57" height="35" src="img/payment_2.png"></li>
            <li><img width="57" height="35" src="img/payment_3.png"></li>
          </ul>
          <span style="margin-bottom: 10px;  display: block;margin-top: 20px;">Liên kết sàn:</span>
          <ul
            class="social d-flex ps-0 gap-2 justify-content-sm-center justify-content-xl-start justify-content-lg-start">
            <li><a href="#" title="Shopee"><img width="32" height="32" src="img/san1.png"> </a></li>
            <li><a href="#" title="Shopee"><img width="32" height="32" src="img/san2.png"> </a></li>
            <li><a href="#" title="Shopee"><img width="32" height="32" src="img/san3.png"> </a></li>
            <li><a href="#" title="Shopee"><img width="32" height="32" src="img/san4.png"> </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="copyright" class="copyright">
    <div class="container text-center">
      <span class="copy-right">Bản quyền thuộc về <b>Sudes theme</b>.</span>
      <span class="opacity1">
        Clone bởi: PS28717
      </span>
    </div>
  </div>
</footer>
<!-- //MODAL -->
<div class="modal fade pe-0" id="modalDonhang" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="tile p-4">
        <h3 class="tile-title border-bottom  hstack">
          <div class="me-auto py-3  text-primary text-uppercase">Chi tiết đơn hàng của bạn</div> <button type="button"
            class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </h3>
        <div class="tile-body">
          <div class="main">
            <div class="row justify-content-between mb-5">
              <div class="col-lg-6 col-12 ps-6">

                <div class="row mt-4 border">
                  <div class="row p-3">
                    <div class="col-6">
                      <div class="fs-5">Thông tin mua hàng</div>
                      <div class="fs-6_5 text-gray pt-1">{{idBill.name}}</div>
                      <div class="fs-6_5 text-gray pt-2">{{idBill.email}}</div>
                      <div class="fs-6_5 text-gray pt-2">{{idBill.phone}}</div>
                    </div>
                    <div class="col-6">
                      <div class="fs-5">Địa chỉ nhận hàng</div>
                      <div class="fs-6_5 text-gray pt-1">{{idBill.address}}</div>
                      <div class="fs-6_5 text-gray pt-2">{{idBill.phone}}</div>
                    </div>
                  </div>
                  <div class="row p-3">
                    <div class="col-6">
                      <div class="fs-5">Phương thức thanh toán</div>
                      <div class="fs-6_5 text-gray pt-1">{{idBill.paymentMethod}}</div>
                    </div>
                    <div class="col-6">
                      <div class="fs-5">Phương thức vận chuyển</div>
                      <div class="fs-6_5 text-gray pt-1">Giao hàng tận nơi</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-12 me-6 end-0 bg-lightgray rounded-3">
                <div class="your-order">
                  <h4 class="text-uppercase text-primary fw-bold mt-3">Đơn hàng của bạn</h4>
                  <div class="p-3 table-responsive">
                    <div ng-repeat="cart in idBillCart" class="row py-3 ng-scope border-bottom border-top">
                      <div class="col-3">
                        <img class="w-75" src="../../img/{{cart.img}}" alt="">
                      </div>
                      <div class="col-9">
                        <div class="row">
                          <div class="title-name ng-binding">{{cart.name}}</div>

                        </div><br>
                        <div class="total hstack justify-content-between">
                          <div class="sl">Số lượng: <strong class="">{{cart.quantity}}</strong></div>
                          <div class="title ng-binding">{{cart.quantity*cart.price|number: 0}},000đ</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-3 py-3 ng-scope border-bottom">
                  <div class="py-1 hstack justify-content-between">
                    <div class="text-total">Tạm tính:</div>
                    <div class="price-tt">{{totalPrice|number: 0}},000đ</div>
                  </div>
                  <div class="py-1 hstack justify-content-between">
                    <div class="text-total">Phí vận chuyển:</div>
                    <div class="price-tt">40,000đ</div>
                  </div>
                </div>
                <div class="py-1 hstack justify-content-between pb-3">
                  <div class="text-total fs-4">Tổng cộng:</div>
                  <div class="price-tt fs-4 fw-bold text-primary">{{totalPrice+40|number: 0}},000đ</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
  (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
  <script src="js/bootstrap.bundle.js"></script>